version: '3.3'

networks:
  spush-net:
    external: true

services:

  zoo1:
    image: zookeeper
    hostname: zoo1
    networks:
      - spush-net
    ports:
      - 2181:2181
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: server.1=zoo1:2888:3888 server.2=zoo2:2888:3888 server.3=zoo3:2888:3888
    volumes:
      - /etc/localtime:/etc/localtime:ro
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.hostname == centos73-245]
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"

  zoo2:
    image: zookeeper
    hostname: zoo2
    networks:
      - spush-net
    ports:
      - 2182:2182
    environment:
      ZOO_MY_ID: 2
      ZOO_SERVERS: server.1=zoo1:2888:3888 server.2=zoo2:2888:3888 server.3=zoo3:2888:3888
    volumes:
      - /etc/localtime:/etc/localtime:ro
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.hostname == centos73-245]
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"

  zoo3:
    image: zookeeper
    hostname: zoo3
    networks:
      - spush-net
    ports:
      - 2183:2183
    environment:
      ZOO_MY_ID: 3
      ZOO_SERVERS: server.1=zoo1:2888:3888 server.2=zoo2:2888:3888 server.3=zoo3:2888:3888
    volumes:
      - /etc/localtime:/etc/localtime:ro
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        parallelism: 2
        delay: 10s
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.hostname == centos73-243]
    logging:
      driver: "json-file"
      options:
        max-size: 10m
        max-file: "3"
