[Unit]
Description=james-mail

[Service]
Type=forking
Environment=JAVA_HOME=/home/jdk1.8.0_121
ExecStart=/home/apache-james-3.0-beta4/startjames.sh
ExecStop=/home/apache-james-3.0-beta4/stopjames.sh
[Install]
WantedBy=multi-user.target