[Unit]
Description=james-mail

[Service]
Type=forking
Environment=JAVA_HOME=/home/jdk1.8.0_121
ExecStart=/home/james-server-app-3.0.0/startjames.sh
ExecStop=/home/james-server-app-3.0.0/stopjames.sh
[Install]
WantedBy=multi-user.target